<form [formGroup]="this.ordersService.form" >
    <input placeholder="Course Name" 
           formControlName="courseName" 
           type="text" 
           class="input-field col s12">
    <input placeholder="Course Details" 
           formControlName="customerName" 
           type="text" 
           class="input-field col s12">

           <button class="waves-effect waves-light btn col s6" 
        *ngFor="let coffee of coffees" 
        (click)="addCoffee(coffee)">
{{coffee}}
</button>
<ul class="collection">
    <li *ngFor="let coffee of coffeeOrder">
        <span class="col s11"> {{ coffee }} </span>
        <a class="col s1" (click)="removeCoffee(coffee)">x</a>
    </li>
</ul>

<button 
       class="waves-effect waves-light btn col s12" 
       (click)="onSubmit()">
  Submit
  </button>
</form>
<iframe
allow="microphone;"
width="350"
height="430"
src="https://console.dialogflow.com/api-client/demo/embedded/9e09b03f-714c-439c-a345-9fe50eac0653">
</iframe>

